<% provide(:title, "Home") %>
<div class="center jumbotron">
  <h1>Welcome to YourBook App!</h1>

  <h2>This is sample of the web pages</h2>

  <% if !logged_in? %>
    <%= link_to signup_path, class: "btn btn-lg btn-danger" do %> <%= fa_icon "user-plus", text: "Sign up now" %>
    <% end %>
  <% end %>
</div>

<div class="row">
  <div class="col-sm-3">
    <h4>View Book as
      <% if logged_in? %> Coordinator
      <% else %> Guest User
      <% end %></h4>

    <p>Browse and view books as a guest and sign up later.</p>

    <%= link_to books_path, class: "btn btn-success" do %> <%= fa_icon "book", text: "Browse all books" %>
    <% end %>
  </div>

  <div class="col-sm-3">
    <% if logged_in? %>
      <h4>View profile</h4>

      <p>Update your books, rate courses and view your information's</p>

      <%= link_to current_user, class: "btn btn-success" do %> <%= fa_icon "id-card", text: "View Profile" %>
      <% end %>
    <% else %>
      <h4>Sign in to your account</h4>

      <p>Update your books, rate books, view author information's</p>

      <%= link_to login_path, class: "btn btn-success" do %> <%= fa_icon "sign-in", text: "Log in to your account" %>
      <% end %>
    <% end %>
  </div>

  <% if is_admin? %>
    <div class="col-sm-3">
      <h4>View all categories</h4>

      <p> Administrator page, edit or remove categories</p>

      <%= link_to categories_path, class: "btn btn-success" do %> <%= fa_icon "crosshairs", text: "Categories" %>
      <% end %>
    </div>
    <div class="col-sm-3">
      <h4>View all locations</h4>

      <p> Administrator page, edit or remove locations</p>

      <%= link_to distributors_path, class: "btn btn-success" do %> <%= fa_icon "location-arrow", text: "Locations" %>
      <% end %>
    </div>
  <% end %>
</div>