<% unless @hide_for_show %>
  <h4><%= link_to option.name, book_path(option.id) %></h4>
<!--  <p>-->
<!--    <b>Prerequisite :</b>-->
    <%# option.prerequisites.each do |pre| %>
      <%#= link_to pre.name, book_path(pre.id), class: "btn btn-info btn-xs" %>
    <%# end %>
<!--  </p>-->
<% end %>

<% unless @hide_for_view %>
  <p>
    <b>Category :</b>
    <% option.categories.each do |category| %>
      <%= link_to category.name, category, class: "btn btn-info btn-xs" %>
    <% end %>
  </p>
  <p>
    <b>Location :</b>
    <% option.distributors.each do |local| %>
      <%= link_to local.name, local, class: "btn btn-info btn-xs" %>
    <% end %>
  </p>
<% end %>

<% unless !@hide_for_show %>
  <p>
    <b>Course Description : </b><br>
    <%= option.description %>
  </p>
  <p>
    <%= image_tag option.image, class: 'img-thumbnail' %>
  </p>
<% else %>
  <p>Created <%= time_ago_in_words(option.created_at) %></p>
<% end %>

<p class="p-align-right">
  <%# if is_admin? %>
    <%#= link_to "Reset", reset_path(option.id), class: "btn btn-danger btn-sm", method: :delete %>
  <%# end %>
  <%#= link_to dislikecourse_path(option.id), method: :post, class: validateLogin, title: "Dislike" do %>
    <%#= fa_icon "thumbs-down", text: "#{do_count("dislike", option.id)}" %>
  <%# end %>
  <%#= link_to likecourse_path(option.id), method: :post, class: validateLogin, title: "Like" do %>
    <%#= fa_icon "thumbs-up", text: "#{do_count("like", option.id)}" %>
  <%# end %>
</p>