<% unless @hide_for_show %>
  <h4><%= link_to option.name, book_path(option.id) %></h4>
<% end %>

<% unless @hide_for_view %>
  <p>
    <b>Category :</b>
    <% option.categories.each do |category| %>
      <%= link_to category.name, category, class: "btn btn-info btn-xs" %>
    <% end %>
  </p>
  <p>
    <b>Distributor :</b>
    <% option.distributors.each do |local| %>
      <%= link_to local.name, local, class: "btn btn-info btn-xs" %>
    <% end %>
  </p>
<% end %>

<% unless !@hide_for_show %>
  <p>
    <b>Book Description : </b><br>
    <%= option.description %>
  </p>
  <p>
    <%= image_tag(option.image.url, class: 'img-thumbnail') if option.image.url %>
  </p>
<% else %>
  <p>Created <%= time_ago_in_words(option.created_at) %></p>
<% end %>

<p class="p-align-right">
  <% if is_admin? %>
    <%= link_to "Reset", reset_path(option.id), class: "btn btn-danger btn-sm", method: :delete %>
  <% end %>
  <%= link_to dislikebook_path(option.id), method: :post, title: "Dislike" do %>
    <%= fa_icon "thumbs-down", text: "#{do_count("dislike", option.id)}" %>
  <% end %>
  <%= link_to likebook_path(option.id), method: :post, title: "Like" do %>
    <%= fa_icon "thumbs-up", text: "#{do_count("like", option.id)}" %>
  <% end %>
</p>