<div class="btm-line">
  <h1><%= title %></h1>
</div>

<table class="table table-hover">
  <thead>
  <tr>
    <th>Name</th>
    <th>Date added</th>
    <th>Last update</th>
    <th>Settings</th>
  </tr>
  </thead>

  <% option.each do |opt| %>
    <tr>
      <td><%= opt.name %></td>
      <td><%= opt.created_at.strftime("%d/%m/%Y") %></td>
      <td><%= time_ago_in_words(opt.updated_at) %></td>
      <td>
        <%= link_to edit_polymorphic_path(opt) do %> <%= fa_icon "edit" %> <% end %>
        <%= link_to polymorphic_path(opt), method: :delete, data: { confirm: "You sure?" } do %> <%= fa_icon "trash" %> <% end %>
      </td>
    </tr>
  <% end %>
</table>