<div class="btm-line">
  <h1> <%= yield :title %> course</h1>
</div>

<%= render 'shared/error_messages', option: @book %>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@book, url: path) do |form| %>
      <%= form.label :name %>
      <%= form.text_field :name, class: "input_box form-control", placeholder: "Programming 1" %>

      <%= form.label :description %>
      <%= form.text_area :description, class: "input_box form-control" %>

      <%= form.label :categories %>
      <%= form.select :categories, options_from_collection_for_select(@categories, :id, :name, @book.categories.ids), {:include_hidden => false, :class => "form-control"}, {multiple: true} %>

      <%#= form.label :prerequisites %>
      <%#= form.select :prerequisites, options_from_collection_for_select(@books, :id, :name, @book.prerequisites.ids), {:include_hidden => false, :class => "form-control"}, {multiple: true} %>

      <%= form.label :distributors %>
      <%= form.select :distributors, options_from_collection_for_select(@distributor, :id, :name, @book.distributors.ids), {:include_hidden => false, :class => "form-control"}, {multiple: true} %>

      <%= form.label :image %>
      <%= form.file_field :image, accept: 'image/jpeg, image/gif, image/png' %>

      <%= form.submit "Submit", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>